

body{
    background-color: white;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    height: 1203px;
    

}

header{
    width: 1920px;
    height: 49px;
    background-color: #1B325F;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    z-index: 10;
    .header-content{
        padding-top: 15px;
        padding-bottom: 14px;
        #hours{
            padding-left: 255px;
        }
        #email-icon{
            padding-left: 305px;
            padding-right: 10px;
        }
        #phone-icon{
            padding-left: 91px;
            padding-right: 10px;
            padding-top: 2px;
            img{
                vertical-align: text-bottom;
            }
        }
    }
}

nav{
    width: 1920px;
    height: 116px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    z-index: 9;
    
    .nav-content{
        padding-left: 375px;
        padding-top: 12px;
        padding-bottom: 19px;
        img{
            padding: 0px;
        }
        span{
            vertical-align: 170%;
            padding-right: 32px;
        }
    }
}

.main-content{
    position: absolute;
    z-index: -1;
    top: 100px;
    #heading{
        position: absolute;
        top: 121px;
        left: 886px;
        h1{
            font-weight: 500;
            font-size: 66px;
            letter-spacing: 2px;
            line-height: 60px;
            color: white;
            text-align: right;
            width: 641.6px;
            margin: 0px;
            padding: 0px;
        }
    }
    #sub-heading{
        position: absolute;
        right: 392.4px;
        top: 271px;
        h3{
            font-weight: 400;
            font-size: 24px;
            line-height: 34px;
            width: 489.6;
            color: white;
            text-align: right;
            margin: 0px;
            padding: 0px;
        }
    }
    #button{
        position: absolute;
        right: 392px;
        top: 369px;
        background-color: #1B325F;
        width: 170px;
        height: 50px;
        margin: 0px;
        padding: 0px;
        border-radius: 2px;
        h4{
            font-weight: 500;
            font-size: 18px;
            letter-spacing: -0.03px;
            line-height: 24px;
            padding: 13px 28px;
            color: white;
            margin: 0px;
        }
    }
    #book{
        position: absolute;
        right: 389px;
        top: 475px;
        margin: 0px;
        padding: 0px;
        height: 539px;
        width: 371px;
        background-color: white;
        box-shadow: 14px 30px #F26C4F;
        h2{
            font-weight: 500;
            font-size: 19px;
            letter-spacing: -0.03px;
            line-height: 26px;
            padding: 41px 64px 46px 79px;
            color: #1B325F; 
            margin: 0px;
            width: 228px;
            text-align: center;
        }
    }
    #name{
        position: absolute;
        top: 588px;
        right: 411px;
        width: 329px;
        height: 40px;
        background-color: #E9F2F9;
        margin: 0px;
        padding: 0px;
        h4{
            font-weight: 400;
            font-size: 15px;
            color: #666666;
            letter-spacing: -0.02px;
            line-height: 20px;
            padding: 8px 280px 12px 9px;
            margin: 0px;
        }
    }
    #email{
        position: absolute;
        top: 648px;
        right: 411px;
        width: 329px;
        height: 40px;
        background-color: #E9F2F9;
        margin: 0px;
        padding: 0px;
        h4{
            font-weight: 400;
            font-size: 15px;
            color: #666666;
            letter-spacing: -0.02px;
            line-height: 20px;
            padding: 8px 280px 12px 9px;
            margin: 0px;
        }
    }
    #car{
        position: absolute;
        top: 708px;
        right: 411px;
        width: 329px;
        height: 40px;
        background-color: #E9F2F9;
        margin: 0px;
        padding: 0px;
            p{
            font-weight: 400;
            font-size: 15px;
            color: #666666;
            letter-spacing: -0.02px;
            line-height: 20px;
            padding: 8px 9px 12px 9px;
            margin: 0px;
            height: 20px;
            }
    }
    #case{
        position: absolute;
        top: 768px;
        right: 411px;
        width: 329px;
        height: 120px;
        background-color: #E9F2F9;
        margin: 0px;
        padding: 0px;
        h4{
            font-weight: 400;
            font-size: 15px;
            color: #666666;
            letter-spacing: -0.02px;
            line-height: 20px;
            padding: 8px 206px 92px 9px;
            margin: 0px;
        }
    }
    #send{
        position: absolute;
        top: 918px;
        right: 411px;
        width: 150px;
        height: 50px;
        background-color: #1B325F;
        margin: 0px;
        padding: 0px;
        border-radius: 2px;
        h4{
            font-weight: 500;
            font-size: 18px;
            color: white;
            letter-spacing: -0.03px;
            line-height: 24px;
            padding: 13px 51px 13px 52px;
            margin: 0px;
        }
    }
}



